* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 10px auto;
  height: calc(100vh - 20px);
}

.container .inner {
  display: flex;
}

textarea,
pre {
  flex: auto;
  max-height: 100%;
  overflow: auto;
}



.function{
    height: 34px;
}
